
.dropdown-label {
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .patient-box {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 475px;
    height: 550px;
    margin-top: 20px;
  }
  
  .patient-icon {
    display: block;
    margin: 0 auto;
    font-size: 100px !important;
    color: gray;
    padding-top: 10px;
  }
  
  .import-profile-link {
    color: #33B7F7;
    text-decoration: none;
    cursor: pointer;
  }
  
  .import-profile-link:hover {
    text-decoration: underline;
  }
  
  .patient-name {
    display: block;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }
  
  .patient-info {
    display: block;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
  }
  
  .detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .detail-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .detail-label {
    font-size: 13px !important;
  }
  
  .detail-value {
    font-size: 13px !important;
    color: gray;
  }
  
  .detail-dropdown {
    width: 105px;
  }
  
  .add-patient-box {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 475px;
    height: 650px;
    margin-top: 20px;
    position: relative;
    padding-bottom:  60px;
  }
  
  .add-detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
    width: 90%;
  }
  
  .add-detail-text {
    flex: 1;
    text-align: left;
    padding-left: 60px;
  }
  
  .add-detail-label {
    font-size: 13px;
  }
  
  .remove-patient-button {
    color: #ffffff;
    background-color: #0F172A;
    margin-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .remove-patient-button:hover {
    color: #ffffff;
    background-color: #0F172A;
  }
  
  .vertical-line {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin-top: 60px;
  }
  
  .add-patient-button {
    color: #FFFFFF;
    background-color: #0F172A;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .add-patient-button:hover {
    color: #FFFFFF;
    background-color: #0F172A;
  }
  
  input {
    flex: 2;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .cancel-button,
  .save-button {
    position: absolute;
    bottom: 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.4rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cancel-button {
    left: 1.5rem;
    background-color: #0F172A;
    color: white;
  }
  
  .save-button {
    right: 1.5rem;
    background-color: #0F172A;
    color: white;
  }
  
  .center-remove-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    z-index: 999;
  }
  
  .title-bold {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .subtext-gray {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .content-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #33B7F7;
  }
  
  .patient-container {
    flex: 1;
    min-width: 500px;
  }
  
  .right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
  }

  .biometric-container{
    padding: 20px;
    flex: 1;
    background-color: red;
  }
  
  .biometric-charts {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 30px;
  }
  
  .heartrate-box,
  .bloodoxygen-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    min-height: 355px;
    max-height: 500px;
    /* remove width constraints */
    width: 100%;
    min-width: 0;
    max-width: none;
  }

  .bloodoxygen-title,
  .heartrate-title {
    font-size: 20px !important;
    margin-top: 10px;
  }
  
  .heartrate-bpm {
    font-size: 40px !important;
  }

  .bloodoxygen-summary,
  .heartrate-summary {
    font-size: 24px !important;
  }
  
  .bloodoxygen-percentage {
    font-size: 40px !important;
  }
  

  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  
  
@media (max-width: 1500px) {
  .content-container{
    flex-direction: column-reverse;
  }
}