/* Main Content */
.main-content {
    margin-left: 20px;
    margin-top: 4.5rem; 
    padding: 20px;
    transition: margin-left 0.3s ease;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .flex {
    display: flex;
    flex-direction: row; 
    height: 100vh; 
  }
  
  .sidebar.collapsed + .main-content {
    margin-left: 0px;
  }
  
  
  /* Responsive styles for mobile */
  @media (max-width: 768px) {
    .top-bar {
      padding: 0 1rem;
    }
    
    .top-bar .logo {
      font-size: 1rem;
    }
  
    .main-content {
      margin-left: 60px;
    }
  }
  
  .page-name-bar {
    width: 100%;
    height: 2rem; 
    background: #CFA329;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.90rem;
    font-weight: bold;
    position: fixed;
    top: 3.5rem; 
    z-index: 80; 
    padding-left: 140px;
    padding-right: 20px;
  }
  
  .dropdown-label {
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .patient-box {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 475px;
    height: 550px;
    margin-top: 20px;
  }
  
  .patient-icon {
    display: block;
    margin: 0 auto;
    font-size: 100px !important;
    color: gray;
    padding-top: 10px;
  }
  
  .patient-name {
    display: block;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }
  
  .patient-info {
    display: block;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
  }
  
  .detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .detail-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .detail-label {
    font-size: 13px !important;
  }
  
  .detail-value {
    font-size: 13px !important;
    color: gray;
  }
  
  .detail-dropdown {
    width: 105px;
  }

  .add-patient-box {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 475px;
    height: 650px;
    margin-top: 20px;
    position: relative;
    padding-bottom:  60px;
  }

  .add-detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
    width: 90%;
  }

  .add-detail-text {
    flex: 1;
    text-align: left;
    padding-left: 60px;
  }

  .add-detail-label {
    font-size: 13px;
  }
  
  .remove-patient-button {
    color: #ffffff;
    background-color: #0F172A;
    margin-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .remove-patient-button:hover {
    color: #ffffff;
    background-color: #0F172A;
  }
  
  .vertical-line {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin-top: 60px;
  }
  
  .add-patient-button {
    color: #FFFFFF;
    background-color: #0F172A;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .add-patient-button:hover {
    color: #FFFFFF;
    background-color: #0F172A;
  }

  input {
    flex: 2;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .cancel-button,
  .save-button {
    position: absolute;
    bottom: 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.4rem;
    font-weight: bold;
    cursor: pointer;
  }

  .cancel-button {
    left: 1.5rem;
    background-color: #0F172A;
    color: white;
  }

  .save-button {
    right: 1.5rem;
    background-color: #0F172A;
    color: white;
  }

  .center-remove-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    z-index: 999;
  }
  
  .title-bold {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .subtext-gray {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .content-container {
    display: flex;
    gap: 30px;
  }
  
  .patient-container {
    flex: 1;
    min-width: 500px;
  }
  
  .right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
  }
  
  .notifications-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: auto;
    min-width: 1000px;
    max-width: none;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid lightgray;
    max-height: 350px;
  }
  
  .abnormality-text {
    color: gray;
    margin-top: -15px;
    font-size: 14px !important;
  }
  
  .notifications-row {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
  }
  
  .notifications-header {
    display: flex;
    align-items: center;
  }
  
  .notifications-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
  
  .notifications-title {
    display: block;
    font-size: 14px !important;
  }
  
  .notifications-summary {
    font-size: 14px !important;
    color: gray;
  }
  
  .bottom-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  
  .heartrate-box {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    min-height: 355px;
    max-height: 500px;
    width: auto;
    min-width: 350px;
    max-width: 500px;
  }
  
  .heartrate-title {
    font-size: 20px !important;
    margin-top: 10px;
  }
  
  .heartrate-bpm {
    font-size: 40px !important;
  }
  
  .heartrate-summary {
    font-size: 24px !important;
  }
  
  .bloodoxygen-box {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    min-height: 355px;
    max-height: 500px;
    width: auto;
    min-width: 350px;
    max-width: 500px;
  }
  
  .bloodoxygen-title {
    font-size: 20px !important;
    margin-top: 10px;
  }
  
  .bloodoxygen-percentage {
    font-size: 40px !important;
  }
  
  .bloodoxygen-summary {
    font-size: 24px !important;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  

  