* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p, span {
  font-size: 16px !important;
}

.register-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Left container (color section) */
.register-left {
    flex: 1;
    background: linear-gradient(to right, #005686, #001520);
}

/* Gold line */
.register-center {
    width: 50px;
    background: #CFA329;
}

/* Right Container (sign-in section) */
.register-right {
    flex: 1;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

/* Title */
.title {
    font-size: 2rem;
    font-weight: bold;
    color: #005686;
    margin-bottom: 1rem;
}

/* Welcome back text */
.welcome {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Sub text */
.sub-text {
    font-size: 1rem;
    color: gray;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Input fields */
.input-container {
    width: 80%;
    margin-bottom: 1rem;
}

/* Input fields */
.input-slot {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    background: #F3F3F3;
    text-align: left;
    color: black;
}

.input-slot:focus {
    border: 1px solid gray;
    outline: none;
}

/* Password visibility section */
.password-visible {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    color: gray;
    font-size: 0.9rem;
    width: 80%;
    margin-top: 0.3rem;
    cursor: pointer;
}

/* Register button */
.register {
    width: auto;  
    padding: 0.8rem 8rem;  
    background: #33B7F7;  
    color: #FFFFFF;  
    font-size: 1.2rem;
    font-weight: bold;
    border: none;  
    border-radius: 8px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.register:hover {
    background: #2ea6e1; 
}

/* Log in */
.log-in a {
    color: #005686;
    text-decoration: none;
    font-weight: bold;
}

.log-in a:hover {
    text-decoration: underline;
}

/* Separator section for Google login */
.separator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    width: 80%;
}

.separator-line {
    flex: 1;
    height: 1px;
    background-color: gray;
}

.separator-text {
    font-size: 0.9rem;
    color: gray;
    margin: 0 10px;
}

/* Google sign-in button */
.google {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background: white;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
}

.google:hover {
    background: #e6e6e6;
}