.BatteryTrackerPageContainer {
  display: flex;
  flex-direction: row;
  padding: 40px;
  /* gap: 40px; */
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.gaugeChartContainer {
  font-size: clamp(16px, 5vw, 32px);
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

.gauge-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  color: #33B7F7;
  line-height: 1.2;
  white-space: pre-line;
  /* font-size: clamp(1rem, 5vw, 2rem); */
}

/* CHART CONTAINER */
.bar-chart {
  width: 100%;
  max-width: 700px;
  aspect-ratio: 4 / 3;
  background: transparent;
  border: 1px solid gray;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAKE CANVAS FILL BAR CHART */
.bar-chart-canvas {
  width: 100%;
  height: 100%;
}

/* BUTTON NAV (Time Range Selector) */
.tabs {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}

.left-column {
  flex: 1 1 50%;
  box-sizing: border-box;
  justify-content: center;
}

.right-column {
  flex: 1 1 50%;
  box-sizing: border-box;
  justify-content: center;
}


.gauge-percent {
  font-size: 2em;
}

.gauge-label {
  font-size: 1em;
}

.gauge-responsive {
  width: 20em;
  height: 20em;
}