.sidebarDropdown-toggle {
  position: fixed;
  top: 5.5rem;
  right: 0;
  width: 30px;
  height: 100%;
  background-color: #005686;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

/* styling for the button */
.sidebarDropdown-collapsible-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar dropdown content container  */
.sidebarDropdown-panel, .location-patient-dropdown-panel {  
  position: fixed;
  top: 5.5rem;
  right: 30px; /* sits literally next to the sidebar toggle button */
  height: calc(100vh - 3.5rem);
  background-color: #ffffff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 90;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.sidebarDropdown-panel{
  width: calc(100% - 30px - 120px); /* full width minus the sidebar + the toggle button */
}

.location-patient-dropdown-panel{
  width: 550px;
}



.patient-dropdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
